.textboxid
{
    height:80px;
    font-size:28pt;
    display: block;
    border-style: solid;
    border-width: 5px;
}
#inputlabel
{
    font-size:28pt;
}
input { 
    text-align: center; 
}
.form-submit-button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 80px;
    width: 510px;
    font: arial,sans-serif;
    font-size: 30px;
    text-shadow: none;
}
.red {
    border-color: #FF0000;
}
.orange {
    border-color: #ff8324;
}
.yellow {
    border-color: #f5d018;
}
.green {
    border-color: #5aeb47;
}
.blue {
    border-color: #276aef;
}
.purple {
    border-color: #8129f5;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.red-heading {
    color: red;
}

.orange-heading {
    color: orange;
}

.yellow-heading {
    color: #e4d639;;
}

.green-heading {
    color: #21de3a;
}

.blue-heading {
    color: #0088ff;
}

.purple-heading {
    color: #b660dd;
}

h1 {
    line-height: 0.2em
}

li {
    font-size: 25px;
}