<!doctype html>
<html>
<head>
	<title>🐱 Kitty Weight Form! 🐱</title>
</head>
<body>
<h1>🐱 Kitty Weight Form! 🐱</h1>

<p>Enter the weights below for each kitten in grams and press submit.</p>

<form action="/submit" method="post">
    <p>Red:&nbsp;<input maxlength="4" name="red" size="4" type="text" /></p>

    <p>Orange:&nbsp;<input maxlength="4" name="orange" size="4" type="text" /></p>

    <p>Yellow:&nbsp;<input maxlength="4" name="yellow" size="4" type="text" /></p>

    <p>Green:&nbsp;<input maxlength="4" name="green" size="4" type="text" /></p>

    <p>Blue:&nbsp;<input maxlength="4" name="blue" size="4" type="text" /></p>

    <p>Purple:&nbsp;<input maxlength="4" name="purple" size="4" type="text" /></p>

    <p><input name="weight_submit" type="submit" value="Submit" /></p>
</form>
</body>
</html>
