<!doctype html>
<html>
<head>
	<title>🐱 Kitty Weight Form! 🐱</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
<h1>🐱 Kitty Weight Form! 🐱</h1>

<h3>Enter the weights below for each kitten in grams and press submit.</h3>

<form>

<div class="grid-container">
    <div class="grid-item">
        <p id="inputlabel">
            Mocha
            <input id="red" class="textboxid red" maxlength="4" name="red" size="4" type="text"/>
            <span id="red-gain"></span>
        </p>
    </div>
    <div class="grid-item">
        <p id="inputlabel">
            Taco
            <input id="orange" class="textboxid orange" maxlength="4" name="orange" size="4" type="text"/>
            <span id="orange-gain"></span>
        </p>
    </div>
    <div class="grid-item">
        <p id="inputlabel">
            Miku
            <input id="yellow" class="textboxid yellow" maxlength="4" name="yellow" size="4" type="text"/>
            <span id="yellow-gain"></span>
        </p>
    </div>
    <div class="grid-item">
        <p id="inputlabel">
            Sushi
            <input id="green" class="textboxid green" maxlength="4" name="green" size="4" type="text"/>
            <span id="green-gain"></span>
        </p>
    </div>
    <div class="grid-item">
        <p id="inputlabel">
            Tuna
            <input id="blue" class="textboxid blue" maxlength="4" name="blue" size="4" type="text"/>
            <span id="blue-gain"></span>
        </p>
    </div>
    <div class="grid-item">
        <p id="inputlabel">
            Mochi
            <input id="purple" class="textboxid purple" maxlength="4" name="purple" size="4" type="text"/>
            <span id="purple-gain"></span>
        </p>
    </div>
</div>

 <!-- <p><input id="submit" class="btn btn-default" name="weight_submit" type="submit" value="Submit" /></p> -->

 <br><br>

 <a href=# id=submit><button class='btn btn-default form-submit-button'>Submit</button></a>
</form>
</body>
</html>

