<!doctype html>
<html>
<head>
	<title>Cici's Kittens</title>
</head>
<body>
<h1>Cici's Kittens</h1>

<br>

<h1 style="color:red; line-height: 0.2em">Red {{ scores['red'] }}</h1>
<h3>Boy – {{ last_weights['red'] }} grams</h3>
<img src="https://i.imgur.com/iJSQjn7.jpeg" width="300">
<ul>
{% for string in red %}
	<li style="font-size:20px">{{ string }}</li>
{% endfor %}
</ul>

<iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=153123097&amp;format=interactive"></iframe>

<br>

<h1 style="color:orange; line-height: 0.2em">Orange {{ scores['orange'] }}</h1>
<h3>Boy – {{ last_weights['orange'] }} grams</h3>
<img src="https://i.imgur.com/apRoCTT.jpeg" width="300">
<ul>
{% for string in orange %}
	<li style="font-size:20px">{{ string }}</li>
{% endfor %}
</ul>

<iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=1282137176&amp;format=interactive"></iframe>

<br>

<h1 style="color:#e4d639; line-height: 0.2em">Yellow {{ scores['yellow'] }}</h1>
<h3>Girl – {{ last_weights['yellow'] }} grams</h3>
<img src="https://i.imgur.com/QcJutzd.png" width="300">
<ul>
{% for string in yellow %}
	<li style="font-size:20px">{{ string }}</li>
{% endfor %}
</ul>

<iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=672859970&amp;format=interactive"></iframe>

<br>

<h1 style="color:#21de3a; line-height: 0.2em">Green {{ scores['green'] }}</h1>
<h3>Girl – {{ last_weights['green'] }} grams</h3>
<img src="https://i.imgur.com/eyFerTW.jpeg" width="300">
<ul>
{% for string in green %}
	<li style="font-size:20px">{{ string }}</li>
{% endfor %}
</ul>

<iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=1549764134&amp;format=interactive"></iframe>

<br>

<h1 style="color:#0088ff; line-height: 0.2em">Blue {{ scores['blue'] }}</h1>
<h3>Boy – {{ last_weights['blue'] }} grams</h3>
<img src="https://i.imgur.com/0jVOHDS.jpeg" width="300">
<ul>
{% for string in blue %}
	<li style="font-size:20px">{{ string }}</li>
{% endfor %}
</ul>

<iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=692412320&amp;format=interactive"></iframe>

<br>

<h1 style="color:#b660dd; line-height: 0.2em">Purple {{ scores['purple'] }}</h1>
<h3>Girl – {{ last_weights['purple'] }} grams</h3>
<img src="https://i.imgur.com/AniwhkL.jpeg" width="300">
<ul>
{% for string in purple %}
	<li style="font-size:20px">{{ string }}</li>
{% endfor %}
</ul>

<iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=422018461&amp;format=interactive"></iframe>

<br><br>

<p style="font-size:25px">Kittens should be gaining roughly 14 grams per 24 hour period, and 7 grams per 12 hour period.</p>

</body>
</html>
