<!doctype html>
<html>
<head>
	<title>🐱 Kitty Profiles! 🐱</title>
</head>
<body>
<h1>🐱 Kitty Profiles 🐱</h1>

<h1 style="color:red">Red {{ scores['red'] }}</h1>
<ul>
{% for string in red %}
	<li style="font-size:30px">{{ string }}</li>
{% endfor %}
</ul>

<iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=153123097&amp;format=interactive"></iframe>
<!-- <iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=153123097&amp;format=image"></iframe> -->

<h1 style="color:orange">Orange {{ scores['orange'] }}</h1>
<ul>
{% for string in orange %}
	<li style="font-size:30px">{{ string }}</li>
{% endfor %}
</ul>

<iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=1282137176&amp;format=interactive"></iframe>

<h1 style="color:#e4d639">Yellow {{ scores['yellow'] }}</h1>
<ul>
{% for string in yellow %}
	<li style="font-size:30px">{{ string }}</li>
{% endfor %}
</ul>

<iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=672859970&amp;format=interactive"></iframe>

<h1 style="color:#21de3a">Green {{ scores['green'] }}</h1>
<ul>
{% for string in green %}
	<li style="font-size:30px">{{ string }}</li>
{% endfor %}
</ul>

<iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=1549764134&amp;format=interactive"></iframe>

<h1 style="color:#0088ff">Blue {{ scores['blue'] }}</h1>
<ul>
{% for string in blue %}
	<li style="font-size:30px">{{ string }}</li>
{% endfor %}
</ul>

<iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=692412320&amp;format=interactive"></iframe>

<h1 style="color:#b660dd">Purple {{ scores['purple'] }}</h1>
<ul>
{% for string in purple %}
	<li style="font-size:30px">{{ string }}</li>
{% endfor %}
</ul>

<iframe width="600" height="400" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQcTShIjFdNQHcVUpLR55KipjvdPfqNZyiVi5jufRJ0ewBC1btjwepCNvvHmskxdnZrF9l9Fjwqxzf/pubchart?oid=422018461&amp;format=interactive"></iframe>

<br><br>

<p style="font-size:25px">Kittens should be gaining roughly 14 grams per 24 hour period, and 7 grams per 12 hour period.</p>

</body>
</html>
